body {
	background:darkslategray;
        padding:10px;
}

header{
    
}

span{
    color: darkred;
}

h1{
    font-size: 3em;
}

h3{
    color:#003300;
}

img{
    box-shadow: 5px 5px 3px black;
    border: solid 2px;
}

a:link {
    color: lightblue;
}

.showgrid {
	background: url("../img/12_col.gif") !important;
}

#whiteback{
    background: white;
}